@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Community Assist</h1>
    <p class="lead">We provide a platform for everyone to help out and get help in the community. If you are having problems and
    need a helping hard Request a Grant and once you get back on your feet and are able to Make a Donation it is greatly appriciated.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apply for a Grant</h2>
        <p>
            If you are having some financial problem and need some help. Come here and request some assistance. We are always
            willing to help out.
        </p>
        <p><a class="btn btn-default" href="http://localhost:3503/GrantRequests/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make a Donation</h2>
        <p>We are always excepting donations. If you are in a place where you can make a donation and help out a fellow 
        neighbor please help out.</p>
        <p><a class="btn btn-default" href="http://localhost:3503/Donations/Create">Learn more &raquo;</a></p>
    </div>
</div>